body {
  font-family: Helvetica;
}

.menu {
  width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 8px;
  color: #0088CC;
}

a {
  display: block;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #E5E5E5;
  padding: 8px 14px;
  margin-bottom: -1px;
}

a:hover {
  background-color: #F5F5F5;
}
