@import url('normalize.css');

body {
	background-color: #424242;
	color: #FFFFFF;
	font-weight: light;
}

h1 {
	text-align: center;
}

main {
	text-align: center;
}

button {
	padding: 1em;
}