body {
  font-family: Helvetica;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #E5E5E5;
  background: #F5F5F5;
}

.menu a {
  text-decoration: none;
  color: #0088CC;
}

.horizontal li {
  display: inline;
  margin-right: 5px;
}

.horizontal li ul {
  list-style: none;
}

.vertical {
  width: 200px;
}
