@import 'normalize.css';

nav ul {
    color: #F5F5F5;
    background-color: #708090;
    padding: 0;
}

li {
    background-color: lightgrey;
    list-style-type: none;
}

a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: .83em;
}

a:hover {
    opacity: .5;
}

.item {
    padding: .83em;
    border-width: 1px;
    border-style: groove;
    text-align: center;
}

@media screen and (min-width: 48em) {

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav li {
        flex: 1;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .item {
        flex: 0 1 30%;
        color: #F5F5F5;
        background-color: #708090;
    }
}
